*{
	color: white;
}

html	{
	 scroll-behavior: smooth;
}

#navbar{
	color: white;
	background-color: 	#8c8c8d;
	font-size: 25px;
}

.bg-navbar{
	background color:#8c8c8d	 ;
}
.bg-image{
			
	background-color: 	black	;
	background-size: cover;
	background-position: 75% 50%!important;
	background-attachment: scroll;



}

#About{
	background-color: rgba(0, 0, 0,);
	background-repeat	: no-repeat	;
	background-position: left center	;
	background-size: 100vh;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

}

body {
font-family: 'Lora', serif;;
font-size: 21px;
background-image: url(https://i.pinimg.com/originals/58/8c/4b/588c4ba75cbd6dd9fe3c5bfafaaccdea.jpg);

}

.bg-project{
	background-image: url(https://wallpapercave.com/wp/z1e1yxC.jpg);

}
.card-subtitle{
	font-size: 90%;
	color: black	;

}

.card-title {
	font-size: 110%;

}

.btn{
	padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 30px;

}

#input
{
	font-size: 30px;
}

.ani {
	behavior: scroll;
	animation-direction: alternate;
	animation-duration: 1s;
	height: 60vh;
}

footer{
	font-size: 20px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  }
.fa-skype {
  background: #00aff0;
  color: white;
}
